@import './variables.css';

.SceneTwo {
  display: flex;
  max-width: var(--max-width-wide);
  margin: var(--spacing-medium) auto;
}

.left-panel {
  width: 25%;
  background-color: var(--panel-bg);
  padding: var(--spacing-medium);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px 0 0 8px;
}

.right-panel {
  flex-grow: 1;
  padding: var(--spacing-medium);
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 8px 8px 0;
}